	<div id="headerBar">
		<a href="/" name="Home">
			<div id="logo">
				<img id="logoImage" src="/img/logo.png" width="80" height="60" alt="i-flicks logo">
				<img id="logoText" src="/img/logo_word.png" width="120px" height="41px" alt="i-flicks text logo">
				<span id="betaMessage">BETA</span>
				<!-- <span id="logoText">I-FLICKS</span> -->
			</div>
		</a>
		<span id="message" class="message"></span>
		<span id="headerBarUserName"></span>
		<img id="headerBarAvatar" />
		<input type="text" id="search" name="search" placeholder="Search...">
		<input type="button" id="submitSearch" value="Search" class="button">
		<span id="loggedinContainer">
			<input type="button" id="submitSignout" value="Sign out" class="button">
			<input type="button" id="showUploadContainer" value="Upload" class="button">
			<input type="button" id="showUnencodedFlickList" value="Unencoded" class="button">
		</span>
		<span id="signinContainer">
			<span id="signinTextInputs">
				<label for="fileName">Username: </label><input type="text" id="username" name="username" placeholder="Username" autocomplete="username">
				<label for="fileName">Password: </label><input type="password" id="password" class="" name="password" placeholder="Password" autocomplete="current-password">
			</span>
			<input type="button" id="submitSignin" value="Sign in" class="button">
			{{#if usersCanCreateAccount }}
			<input type="button" id="showCreateAccount" value="Create account" class="button">
			{{/if}}
		</span>
		<input type="button" id="showFlickList" value="List flicks." class="button">
	</div>
	{{#if showInfo}}
	<div id="infoContainer">
		<div id="info">{{{info}}}<div id="closeInfoPanel" title="hide info panel">X</div></div>
	</div>
	{{/if}}
	<div id="uploadContainer" class="hide">
		<form id="uploadForm">
			<label for="fileName">Name:</label><input type="text" id="fileName" name="name" class="uploadContainer">
			<br>
			<label for="fileDescription">Description:</label><textarea id="fileDescription" name="description"  class="uploadContainer"></textarea>
			<br><br><br>
			<label for="tags">Tags (comma seperate):</label><input type="text" id="fileTags" name="tags" class="uploadContainer">
			<br>
			<label for="emailWhenEncoded">Email when complete:</label><input type="checkbox" id="emailWhenEncoded" name="emailWhenEncoded" class="uploadContainer">
			<br>
			<!--<label for="flickFile">File to upload
				<div id="uploadContainerFile">Select file
				   <input type="file" name="flick"  id="flickFile" />
				</div>
			</label>
			-->
			<label for="flickFile">File to upload</label><input type="file" name="flick" id="flickFile" class="uploadContainer button"> 
			<!--<canvas id="thumbVidCanvas" width="70" height="40"  class="uploadContainer"></canvas>
			<video id="thumbVid" src="/" class="hide" width="70" height="40" controls>
			</video>-->
			<br>
			<input type="button" id="submitUploadNewFlick" value="Send" class="button">
			<progress id="uploadProgress" class="hide" value="0" max="1"></progress>
			<span id="messageUploadVid" class="message"></span>
		</form>
	</div>
	{{#if usersCanCreateAccount }}
	<div id="createAccountContainer" class="hide">
		<form id="createAccountForm">
			<label for="username">Username:</label><input type="text" id="createUsername" name="username" class="createAccountContainer" placeholder="Username" >
			<br>
			<label for="createGivenname">Given Name:</label><input type="text" id="createGivenname" name="givenName"  class="createAccountContainer" placeholder="First name" autocomplete="given-name">
			<br>
			<label for="createFamilyname">Family name:</label><input type="text" id="createFamilyname" name="familyName"  class="createAccountContainer" placeholder="Last Name" autocomplete="family-name">
			<br>
			<label for="createEmail">Email:</label><input type="text" id="createEmail" name="emailAddress"  class="createAccountContainer" placeholder="Email address" autocomplete="email">
			<br>
			<label for="createPassword">Password:</label><input type="password" id="createPassword" name="createPassword" class="createAccountContainer" placeholder="Password" autocomplete="new-password">
			<br>

			<input type="button" id="submitCreateAccount" value="Create" class="button">
			<span id="messageCreateAcc" class="message"></span>
		</form>
	</div>
	{{/if}}
	<div id="flickList"></div>
	<div id="flickListUnencoded"></div>
	<div id="flickContainer"></div>
    <script>
    var vid = '{{vid}}';
    </script>
    <script src="/js/modernizr.js"></script>
    <script>
    Modernizr.addTest('forEach', function() { return Array.forEach; });
    Modernizr.addTest('fetch', function() { return window.fetch; });
    Modernizr.addTest('promise', function() { return window.Promise; });
    Modernizr.load([{
      test: Modernizr.promise,
      nope: '/script/promise.js'
  	  },
      {
      test: Modernizr.history,
      nope: '/script/history.js'
      },
      {
      test: Modernizr.classlist,
      nope: '/script/classlist.js'
      },
      {
      test: Modernizr.fetch,
      nope: '/script/fetch.js'
      },
      {load: ['/script/video.js', '/{{{js}}}'],
      complete: function () {
          videojs.options.flash.swf = '/script/video-js.swf';
          if (vid !== '') {
            //document.addEventListener('DOMContentLoaded', function() {
              iflicks.showFlickOnLoad(vid);
            //});
          }
        }
      }
    ]);
    </script>