<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="css/github-markdown.css" rel="stylesheet">
  </head>
  <body id="body">
  <article class="markdown-body">
    {{{body}}}
  </article>
  </body>
</html>
