		<div class="sixteen columns">
			<h3>Cookies</h3>
            <p>
                A 'cookie' is a small text file that is stored on your device by websites that you visit. They are used to remember your interaction with the website. Their purpose is usually functional (e.g. to enhance your experience of the website) or statistical (e.g. to provide the website owner with the number of unique visitors to a website, or the most popular pages on a particular site, etc.).
Most browsers automatically accept cookies, but you can usually refuse or selectively accept cookies by adjusting the preferences in your browser. If you turn cookies off, there may be some features of our site that will not be available to you and some web pages may not display properly.
You can find more information about managing cookies at <a href="http://www.AllAboutCookies.org" target="_blank">AllAboutCookies.org</a>
Our cookie list is intended to provide you with an understanding of the nature of the cookies used on this site. This information may be updated from time to time. It was correct as of the 21st Jan 2014.

            </p>
                <table style="border-collapse: collapse; border: thin solid #000000;">
                    <thead>
                        <tr>
                            <td style="padding: 3px; border: thin solid #C0C0C0;">
                                <p>
                                    <b><span>COOKIE</span></b></p>
                            </td>
                            <td style="padding: 3px; border: thin solid #C0C0C0;">
                                <p>
                                    <b><span>NAME </span></b></p>
                            </td>
                            <td style="padding: 3px; border: thin solid #C0C0C0;">
                                <p>
                                    <b><span>PURPOSE</span></b></p>
                            </td>
                            <td style="padding: 3px; border: thin solid #C0C0C0;">
                                <p>
                                    <b><span>MORE INFORMATION</span></b></p>
                            </td>
                        </tr>
                    </thead>
                    <tr>
                        <td rowspan="4" style="border: thin solid #C0C0C0">
                            <p>
                                <span>Google Analytics</span></p>
                        </td>
                        <td style="border: thin solid #C0C0C0">
                            <p>
                                <span>_utma</span></p>
                        </td>
                        <td style="border: thin solid #C0C0C0">
                            <p>
                                <span>This Cookie is used to identify unique visitors to the site so that we may 
                                see how many come to this site over a period of time.&nbsp; It will expire in 2 
                                years unless you delete it sonner.</span></p>
                        </td>
                        <td rowspan="4" style="border: thin solid #C0C0C0">
                            <p>
                                <a href="http://www.google.co.uk/intl/en/analytics/privacyoverview.html" target="_blank"><span>Click here to see an overview of Google&#39;s privacy 
                                precautions for Google Analytics</span></a><span></span></p>
                        </td>
                    </tr>
                    <tr>
                        <td style="border: thin solid #C0C0C0">
                            <p>
                                <span>_utmb</span></p>
                        </td>
                        <td style="border: thin solid #C0C0C0">
                            <p>
                                <span>This cookie is used to determine the visitor session times on our site and 
                                is updated each time you visit a new page. If there is no existing cookie, a new 
                                one is created.</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td style="border: thin solid #C0C0C0">
                            <p>
                                <span>_utmc</span></p>
                        </td>
                        <td style="border: thin solid #C0C0C0">
                            <p>
                                <span>This cookie is used with __utmb in order to determine visitor sessions. It 
                                determines whether a new session should be created based on whether or not you 
                                have previously closed your browser or cleared your cookies before coming back 
                                to the site.</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td style="border: thin solid #C0C0C0">
                            <p>
                                <span>_utmz</span></p>
                        </td>
                        <td style="border: thin solid #C0C0C0">
                            <p>
                                <span>This cookie is used to note the type of referral used by each visitor to 
                                arrive at our site, for example if the user has come directly to the site or 
                                reached it via a search engine.</span></p>
                        </td>
                    </tr>
                    <tr>
                    <td rowspan="5" style="border: thin solid #C0C0C0">
                            <p>
                                <span>Sales Map</span></p>
                        </td>
                        <td style="border: thin solid #C0C0C0">
                            <p>
                                <span>tcID</span></p>
                        </td>
                        
                        <td style="border: thin solid #C0C0C0">
                            <p>
                                <span>This tracks use across sessions.  So we can justify to our sponsors why we have the i-flicks software</span></p>
                        </td>
                        <td rowspan="5"></td>
                    </tr>
                    <tr>
                        <td style="border: thin solid #C0C0C0">
                            <p>
                                <span>ssID</span></p>
                        </td>
                        
                        <td style="border: thin solid #C0C0C0">
                            <p>
                                <span>This tracks use across a session.  It can help if there is a problem with the application</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td style="border: thin solid #C0C0C0">
                            <p>
                                <span>mapChoice</span></p>
                        </td>
                        <td style="border: thin solid #C0C0C0">
                            <p>
                                <span>The keeps a record of your preferred map</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td style="border: thin solid #C0C0C0">
                            <p>
                                <span>mapMarkerChoice</span></p>
                        </td>
                        <td style="border: thin solid #C0C0C0">
                            <p>
                                <span>The keeps a record of your preferred map marker</span></p>
                        </td>
                    </tr>
                    
                    <tr>
                        <td style="border: thin solid #C0C0C0">
                            <p>
                                <span>connect.sid</span></p>
                        </td>
                        <td style="border: thin solid #C0C0C0">
                            <p>
                                <span>The is used if you need to login</span></p>
                        </td>
                    </tr>
                </table>
            
            <h3>Privacy</h3>
			<p>This site captures personal information including names, email addresses, videos and images.  With consent some of this information is available on the Internet for anyone to see.  Bulk information will not be passed on to third parties.  Any emails sent will be treated in confidence and the email address not passed onto a third party without permission unless required by law enforcement agencies.</p>
            <p></p>
		</div>