<ul id="toolList">
<li><a href="#errorviewer" id="errorviewer">Error viewer</a>
<li><a href="#flickviewer" id="flickviewer">Flick viewer</a>
<li><a href="#userviewer" id="userviewer">User viewer</a>
</ul>
<div id="message"></div>

<table id="list" class="hide">
	<thead />
	<tbody />
</table>
<div id="extras"></div>